In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 100)
files = ['2011-q1_trip_history_data.csv','2011-q2_trip_history_data.csv','2011-q3_trip_history_data.csv','2011-q4_trip_history_data.csv']

In [2]:
# initial load of bike trip data, with date fields set to the proper datatype
list_data = []
df_annual = pd.DataFrame()
for file in files:
    df_qdata = pd.read_csv(file)
    list_data.append(df_qdata)
df_annual = pd.concat(list_data)

df_annual['StartTime'] = df_annual['Start date'].astype('datetime64')
df_annual['EndTime'] = df_annual['End date'].astype('datetime64')
df_annual.drop(['Start date','End date'],axis=1,inplace=True)

In [3]:
# save station addresses
df_addresses = df_annual.groupby('Start station number')['Start station'].last()
df_addresses.to_csv('stationlocation.csv')

In [4]:
df_annual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1226768 entries, 0 to 309383
Data columns (total 9 columns):
Duration (ms)           1226768 non-null int64
Start station number    1226768 non-null int64
Start station           1226768 non-null object
End station number      1226768 non-null int64
End station             1226768 non-null object
Bike number             1226768 non-null object
Member type             1226768 non-null object
StartTime               1226768 non-null datetime64[ns]
EndTime                 1226768 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 93.6+ MB

In [5]:
df_biketrip = pd.DataFrame()

df_biketrip['StartTime'] = df_annual['StartTime']
df_biketrip['EndTime'] = df_annual['EndTime']
df_biketrip['StartNum'] = df_annual['Start station number'].astype(int)
df_biketrip['EndNum'] = df_annual['End station number'].astype(int)
df_biketrip['count'] = 1
df_biketrip

                 StartTime             EndTime  StartNum  EndNum  count
0      2011-01-01 00:01:29 2011-01-01 01:00:37     31620   31620      1
1      2011-01-01 00:02:46 2011-01-01 00:08:32     31105   31101      1
2      2011-01-01 00:06:13 2011-01-01 00:15:36     31400   31104      1
3      2011-01-01 00:09:21 2011-01-01 00:16:36     31111   31503      1
4      2011-01-01 00:28:26 2011-01-01 00:32:19     31104   31106      1
5      2011-01-01 00:32:33 2011-01-01 00:35:11     31605   31618      1
6      2011-01-01 00:35:48 2011-01-01 00:45:09     31203   31201      1
7      2011-01-01 00:36:42 2011-01-01 00:45:05     31203   31201      1
8      2011-01-01 00:45:55 2011-01-01 00:53:24     31201   31202      1
9      2011-01-01 00:46:06 2011-01-01 00:53:28     31201   31202      1
10     2011-01-01 00:48:21 2011-01-01 01:05:34     31300   31104      1
11     2011-01-01 00:48:22 2011-01-01 00:58:32     31104   31111      1
12     2011-01-01 00:54:17 2011-01-01 01:05:02     31007   31010      1
13     2011-01-01 00:54:41 2011-01-01 01:04:46     31007   31010      1
14     2011-01-01 00:55:10 2011-01-01 01:05:04     31202   31109      1
15     2011-01-01 00:55:26 2011-01-01 01:05:00     31202   31109      1
16     2011-01-01 01:00:58 2011-01-01 01:15:40     31104   31400      1
17     2011-01-01 01:01:20 2011-01-01 01:07:21     31212   31214      1
18     2011-01-01 01:01:32 2011-01-01 01:07:12     31212   31214      1
19     2011-01-01 01:02:16 2011-01-01 01:08:17     31613   31607      1
20     2011-01-01 01:02:17 2011-01-01 01:08:07     31613   31607      1
21     2011-01-01 01:03:38 2011-01-01 01:10:21     31105   31103      1
22     2011-01-01 01:05:25 2011-01-01 01:10:00     31103   31602      1
23     2011-01-01 01:05:28 2011-01-01 01:10:00     31103   31602      1
24     2011-01-01 01:06:00 2011-01-01 01:11:47     31109   31111      1
25     2011-01-01 01:06:09 2011-01-01 01:11:35     31109   31111      1
26     2011-01-01 01:07:43 2011-01-01 01:18:56     31302   31106      1
27     2011-01-01 01:07:54 2011-01-01 01:15:03     31229   31109      1
28     2011-01-01 01:12:47 2011-01-01 01:17:54     31111   31101      1
29     2011-01-01 01:13:37 2011-01-01 01:17:49     31111   31101      1
30     2011-01-01 01:14:27 2011-01-01 01:30:08     31603   31504      1
31     2011-01-01 01:15:14 2011-01-01 01:20:36     31104   31104      1
32     2011-01-01 01:16:39 2011-01-01 01:27:42     31305   31103      1
33     2011-01-01 01:18:29 2011-01-01 01:22:48     31104   31103      1
34     2011-01-01 01:19:01 2011-01-01 01:45:41     31600   31619      1
35     2011-01-01 01:19:38 2011-01-01 01:24:41     31101   31229      1
36     2011-01-01 01:19:52 2011-01-01 01:24:46     31101   31229      1
37     2011-01-01 01:25:07 2011-01-01 01:37:14     31229   31201      1
38     2011-01-01 01:26:03 2011-01-01 01:36:58     31229   31201      1
39     2011-01-01 01:32:51 2011-01-01 01:55:35     31104   31402      1
40     2011-01-01 01:35:40 2011-01-01 01:44:57     31208   31208      1
41     2011-01-01 01:35:53 2011-01-01 01:55:34     31104   31402      1
42     2011-01-01 01:38:07 2011-01-01 01:52:13     31201   31213      1
43     2011-01-01 01:39:17 2011-01-01 01:49:51     31111   31101      1
44     2011-01-01 01:43:42 2011-01-01 02:01:59     31503   31105      1
45     2011-01-01 01:46:59 2011-01-01 01:54:31     31101   31207      1
46     2011-01-01 01:48:31 2011-01-01 02:12:19     31613   31619      1
47     2011-01-01 01:48:57 2011-01-01 12:58:38     31613   31619      1
48     2011-01-01 01:53:11 2011-01-01 01:59:14     31213   31221      1
49     2011-01-01 01:54:27 2011-01-01 02:04:40     31611   31616      1
...                    ...                 ...       ...     ...    ...
309334 2011-12-31 22:14:57 2011-12-31 22:28:43     31504   31623      1
309335 2011-12-31 22:16:38 2011-12-31 22:36:27     31241   31014      1
309336 2011-12-31 22:22:14 2011-12-31 22:31:25     31622   31606      1
309337 2011-12-31 22:29:23 2011-12-31 23:10:10     31402   31503      1
309338 2011-12-31 22:30:10 2011-12-31 22:33:46     31400   31102      1
309339 2011-12-31 22:30:11 2011-12-31 22:43:49     31106   31202      1
309340 2011-12-31 22:30:16 2011-12-31 22:33:42     31400   31102      1
309341 2011-12-31 22:30:21 2011-12-31 22:33:50     31400   31102      1
309342 2011-12-31 22:37:49 2011-12-31 22:41:48     31618   31613      1
309343 2011-12-31 22:44:09 2011-12-31 22:57:09     31220   31109      1
309344 2011-12-31 22:49:25 2011-12-31 22:53:27     31214   31202      1
309345 2011-12-31 22:50:41 2011-12-31 22:59:10     31107   31402      1
309346 2011-12-31 22:50:47 2011-12-31 22:56:34     31602   31401      1
309347 2011-12-31 22:50:50 2011-12-31 22:55:37     31245   31111      1
309348 2011-12-31 22:50:50 2011-12-31 22:55:37     31245   31111      1
309349 2011-12-31 22:51:16 2011-12-31 22:59:36     31400   31111      1
309350 2011-12-31 22:51:35 2011-12-31 22:58:54     31224   31110      1
309351 2011-12-31 22:54:02 2011-12-31 23:01:28     31101   31602      1
309352 2011-12-31 22:56:09 2011-12-31 23:00:09     31626   31613      1
309353 2011-12-31 22:59:41 2011-12-31 23:10:11     31620   31214      1
309354 2011-12-31 23:00:14 2011-12-31 23:06:39     31200   31202      1
309355 2011-12-31 23:00:16 2011-12-31 23:07:17     31101   31221      1
309356 2011-12-31 23:00:48 2011-12-31 23:14:40     31232   31503      1
309357 2011-12-31 23:03:19 2011-12-31 23:11:03     31107   31111      1
309358 2011-12-31 23:06:04 2011-12-31 23:23:15     31602   31504      1
309359 2011-12-31 23:06:14 2011-12-31 23:11:59     31216   31241      1
309360 2011-12-31 23:06:41 2011-12-31 23:14:36     31107   31111      1
309361 2011-12-31 23:08:56 2011-12-31 23:13:14     31229   31201      1
309362 2011-12-31 23:09:16 2011-12-31 23:17:36     31620   31618      1
309363 2011-12-31 23:11:04 2011-12-31 23:18:51     31102   31503      1
309364 2011-12-31 23:11:49 2011-12-31 23:14:50     31623   31615      1
309365 2011-12-31 23:12:03 2011-12-31 23:22:10     31503   31101      1
309366 2011-12-31 23:12:58 2011-12-31 23:22:12     31503   31101      1
309367 2011-12-31 23:14:45 2011-12-31 23:25:12     31400   31104      1
309368 2011-12-31 23:20:53 2011-12-31 23:23:50     31106   31104      1
309369 2011-12-31 23:20:55 2011-12-31 23:27:20     31103   31214      1
309370 2011-12-31 23:21:55 2011-12-31 23:24:34     31615   31614      1
309371 2011-12-31 23:24:35 2011-12-31 23:36:46     31102   31229      1
309372 2011-12-31 23:25:22 2011-12-31 23:29:05     31205   31211      1
309373 2011-12-31 23:29:01 2011-12-31 23:45:50     31623   31607      1
309374 2011-12-31 23:36:51 2011-12-31 23:44:55     31113   31202      1
309375 2011-12-31 23:38:36 2011-12-31 23:48:56     31103   31111      1
309376 2011-12-31 23:40:33 2011-12-31 23:47:23     31203   31214      1
309377 2011-12-31 23:40:39 2011-12-31 23:46:36     31101   31203      1
309378 2011-12-31 23:40:51 2011-12-31 23:46:40     31101   31203      1
309379 2011-12-31 23:41:19 2011-12-31 23:46:20     31201   31214      1
309380 2011-12-31 23:46:43 2011-12-31 23:53:10     31223   31201      1
309381 2011-12-31 23:47:27 2011-12-31 23:51:49     31107   31602      1
309382 2011-12-31 23:55:12 2012-01-01 00:29:33     31205   31222      1
309383 2011-12-31 23:55:56 2012-01-01 00:03:45     31221   31111      1

[1226768 rows x 5 columns]

In [6]:
# new features - to help group by hour
df_dhcombo_out = pd.DataFrame({
    'Day': df_biketrip['StartTime'].dt.date,
    'Hour': df_biketrip['StartTime'].dt.hour,
})

df_dhcombo_in = pd.DataFrame({
    'Day': df_biketrip['EndTime'].dt.date,
    'Hour': df_biketrip['EndTime'].dt.hour,
})

df_biketrip['StartHour'] = pd.to_datetime(df_dhcombo_out.Day) + pd.to_timedelta(df_dhcombo_out.Hour, unit='h')
df_biketrip['EndHour'] = pd.to_datetime(df_dhcombo_in.Day) + pd.to_timedelta(df_dhcombo_in.Hour, unit='h')

In [7]:
# create pivot tables, with each site as a column
df_hourly_start = df_biketrip.pivot_table(values='count',index='StartHour',columns='StartNum',aggfunc='sum',fill_value=0)
df_hourly_end = df_biketrip.pivot_table(values='count',index='EndHour',columns='EndNum',aggfunc='sum',fill_value=0)

In [8]:
# insert rows for missing hours
from datetime import datetime, timedelta

def daterange(start_date, end_date):
    delta = timedelta(hours=1)
    while start_date < end_date:
        yield start_date
        start_date += delta

start_date = df_hourly_start.index[0]
end_date = df_hourly_start.index[-1]
idx_datetime = []

# don't forget the last hour
for single_date in daterange(start_date, end_date+timedelta(hours=1)):
    idx_datetime.append(single_date.strftime("%Y-%m-%d %H:%M:%S"))

df_hourly_start = df_hourly_start.reindex(pd.DatetimeIndex(idx_datetime))
df_hourly_end = df_hourly_end.reindex(pd.DatetimeIndex(idx_datetime))

In [9]:
# additional features to help filter out by hour of day and day of week
df_hourly_start['hourofday'] = df_hourly_start.index.hour
df_hourly_start['dayofweek'] = df_hourly_start.index.dayofweek

df_hourly_end['hourofday'] = df_hourly_end.index.hour
df_hourly_end['dayofweek'] = df_hourly_end.index.dayofweek

df_hourly_start['weekofyear'] = df_hourly_start.index.weekofyear
df_hourly_end['weekofyear'] = df_hourly_end.index.weekofyear

In [10]:
# save data for processing on anomaly detection system
df_hourly_start.to_csv('hourlystart.csv')
df_hourly_end.to_csv('hourlyend.csv')